<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content>
        <div class="cart-top"><i class="ion-bag"></i>MY CART</div>
        <div class="list cart-list">
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
            <div class="item item-thumbnail-left cart-item">
                <img src="img/blue-album.jpg">
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
                <div class="cart-item-tag">
                    <span>$123</span><i class="ion-ios-close-outline"></i>
                </div>
                <div class="cart-item-title">
                    <h2>Pretty Hate Machine</h2>
                    <p>Price:$5654</p>
                </div>
            </div>
        </div>
        <div class="row cart-div">
            <div class="col">TOTAL AMOUNT</div>
            <div class="col">$123</div>
        </div>
        <div class="row cart-div">
            <div class="col"><a class="button button-block button-fill" href="#/app/shareapp" style="margin-bottom: 60px;">SHARE APP</a></div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
