<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content>
        <div class="cart-top"> 
            <div class="cart-title"><i class="ion-bag"></i>MY CART</div>
            <div class="cart-count">YOU HAVE <b>4 ITMES</b> IN YOUR CART</div>
            <div class="cart-payment-title">CHOOSE PAYMENT METHOD:</div>
            <div class="cart-payment-method"> <i class="ion-card"></i><i class="ion-cash"></i></div>
        </div> 
        <div class="row">
            <div class="col col-75" side="left">
                <input type="text" class="pay-input" placeholder="CARDHOLDER NAME">
            </div>
            <div class="col" side="left">
                <input type="text" class="pay-input" placeholder="DOB">
            </div>
        </div>
        <div class="row">
            <div class="col col-75">
                <input type="text" class="pay-input" placeholder="CARD NUMBER">
            </div>
            <div class="col">
                <input type="text" class="pay-input" placeholder="CVV">
            </div>
        </div>
        <div class="row">
            <div class="col">
                EXPIRES
            </div>
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col col-75">
                Total: $5261461
            </div>
        </div>
        <div class="list list-inset myaccount-setting">
            <a class="button button-block button-fill setting-btn" ng-click="ma.updateProfile()">UPDATE PROFILE</a>
        </div>

    </ion-content>
    <account-footer></account-footer>
</ion-view>
