<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content>
        <div class="item item-input-inset serch-bar">
            <label class="item-input-wrapper">
                <input type="text">
            </label>
            <button class="button button-small btn-cls">
                <i class="icon ion-search placeholder-icon"></i>
            </button>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
