<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/blue-album.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Price:$5654</p>
            </a>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
