<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content>
        <div class="uppro-top"> <i class="ion-social-googleplus"></i>POST AN ITEM</div>

        <div class="uppro-top-des"> 
            <div class="item item-input item-div">
                <i class="ion-plus"></i><span ng-click="up.showtitle = true" ng-if="!up.showtitle">ADD TITLE</span>
                <div class="input-div" ng-if="up.showtitle" >
                    <input type="text" ng-blur="up.showtitle = false;">
                </div>
            </div>

            <div class="item item-input item-div">
                <i class="ion-plus"></i><span ng-click="up.showdes = true" ng-if="!up.showdes">ADD DESCRIPTION</span>
                <div class="input-div" ng-if="up.showdes">
                    <input type="text" ng-blur="up.showdes = false;">
                </div>
            </div>
            <div class="item item-input item-div">
                <i class="ion-plus"></i><span ng-click="up.upload = true" ng-if="!up.upload">UPLOAD ITEM IMAGE</span>
                <div class="input-div" ng-if="up.upload">
                    <input type="text" ng-blur="up.upload = false;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-75">CONDITION: <input type="checkbox">NEW <input type="checkbox">USED</div>
            <div class="col">&nbsp</div>
        </div>
        <div class="row">
            <div class="col">ITEM</div>
            <div class="col col-80">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
                <br>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
                <br>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
            <div class="col">
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text">
            </div>
            <div class="col">
                <button class="button">
                    Default
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button">
                    Default
                </button>
            </div>
            <div class="col">
                <button class="button">
                    Default
                </button>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
