<div class="bar bar-footer tabs tabs-icon-button tabs-icon-only footer-div">
    <a class="tab-item active" href="#/app/search">
        <i class="icon ion-search"></i>
    </a>
    <a class="tab-item" href="#/app/taglist">
        <i class="icon ion-pricetag"></i>
    </a>
    <a class="tab-item" href="#/app/uploadproduct">
        <i class="icon ion-ios-camera"></i>
    </a> 
    <a class="tab-item" href="#/app/payment">
        <i class="icon ion-card"></i>
    </a>
</div>