<div class="tabs tabs-icon-top tabs-striped tabs-top myaccount-top">
    <a class="tab-item" href="#/app/myaccount" ng-class="{active:tab === 'account'}">
        <i class="icon ion-home"></i>
        MY ACCOUNT
    </a>
    <a class="tab-item" href="#/app/mysetting" ng-class="{active:tab === 'setting'}">
        <i class="icon ion-ios-gear-outline"></i>
        SETTINGS
    </a>
    <a class="tab-item" href="#" ng-class="{active:tab === 'livesale'}">
        <i class="icon ion-flash"></i>
        LIVE SALL
    </a>
</div>