<ion-view hide-nav-bar="true">
    <ion-content has-bouncing="false" class="home-div">
        <div class="row home-image-div">
            <div class="col">
                <img src="img/home.png">
            </div>
        </div>
        <div class="row home-button-div">
            <div class="col">
                <a class="signup button button-light" href="#/app/registration">
                    Sign Up
                </a>
            </div>
            <div class="col">
                <a class=" signin button button-light" href="#/app/login">
                     Sign In
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
