<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Enter Email</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="lc.closeLogin()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" ng-model="lc.logindata.emailid" placeholder="Email">
            </label>
            <label class="item item-input" ng-if="lc.errormsg" style="border: 0px;">
                <p class="error">{{lc.errormsg}}</p>
            </label>
            <button class="button button-balanced email-modal-btn" type="button" ng-click="lc.doLogin(lc.action)">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>