<ion-view hide-back-button="true" show-nav-bar="true" ng-init="ma.init()">
    <ion-content class="screen-content" scroll="false">
        <account-top tab="setting"></account-top>
        <div class="row responsive-sm user-dtls-wrap">
            <div class="col">
                <div class="list list-inset myaccount-setting">
                    <label class="item item-input">
                        <input type="text" placeholder="Name" ng-model="ma.userdata.name">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Email" disabled ng-model="ma.userdata.emailid">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Phone No" ng-model="ma.userdata.phone">
                    </label>
                    <label class="item item-input">
                        <input type="date" placeholder="Date of birth" ng-model="ma.userdata.dob"><i class="ion-android-calendar"></i>
                    </label>
                    <a class="button button-block button-fill setting-btn" ng-click="ma.updateProfile()">UPDATE PROFILE</a>
                    <a class="button button-block button-outline button-line setting-btn">CHANGE PASSWORD</a>
                </div>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>