<ion-view hide-back-button="true" show-nav-bar="true" ng-init="ma.init()">
    <ion-content class="screen-content">
        <account-top tab="account"></account-top>
        <div class="row responsive-sm user-dtls-wrap">
            <div class="col">
                <div class="myaccount-img">
                    <img src="img/user-img.png">
                </div>
                <div class="myaccount-tag">
                    <div class="myaccount-taglabel">
                        <span>Name</span>{{ma.logindata.name}}
                    </div> 
                    <div class="myaccount-taglabel">
                        <span>Email</span>{{ma.logindata.emailid}}
                    </div> 
                </div>
            </div>
        </div>
        <div class="row responsive-sm myaccount-button">
            <a class="button button-block button-outline button-line">BROWSE ITEMS</a>
            <a class="button button-block button-fill">MY CLOSET</a>
            <a class="button button-block button-outline button-line">POST AN ITEM</a>
            <a class="button button-block button-fill">MY ADDRESS</a>
            <a class="button button-block button-outline button-line ">MY SUBSCRIPTION</a>
            <a class="button button-block button-fill" href="#/app/shareapp" style="margin-bottom: 60px;">SHARE APP</a>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>