<ion-view hide-nav-bar="true">
    <ion-content has-bouncing="false" scroll="false">
        <div class="row">
            <div class="col reg-img-div">
                <img src="img/home.png" class="reg-img">
            </div>
        </div>
        <div class="list list-inset registration-div">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="rc.logindata.fname">
            </label>
            <label class="item item-input">
                 <input type="email" placeholder="Email" ng-model="rc.logindata.emailid">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="rc.logindata.password">
            </label>
            <button class="button button-block button-light signin" ng-click="rc.register()">Sign Up</button>
        </div>
        <div class="row">
            <div class="col">&nbsp</div>
            <div class="col col-75 reg-text"><a href="#/app/login">Already Register? Login</a></div>
        </div>
    </ion-content>
</ion-view>