<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content">
         <h3 class="title center">Your app Share code</h2>
         <h4 class="center">hft8cgd4</h4>
    </ion-content>
    <div class="bar bar-footer tabs tabs-icon-button tabs-icon-only footer-div">
        <a class="tab-item active" href="#">
            <i class="icon ion-search"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-pricetag"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-ios-camera"></i>
        </a> 
        <a class="tab-item" href="#">
            <i class="icon ion-card"></i>
        </a>
    </div>
</ion-view>