/* Empty. Add your own CSS if you like */
.home-div .scroll
{
    min-height: 100%;
}
.home-image-div
{
    text-align: center;
}
.home-button-div 
{
    text-align: center;
    position: absolute;
    bottom: 0;
}
.signup,.signin
{
    width: 100%;
    font-weight: bold;
}
.signup
{
    color: #FF9600 !important;
    border: 1px solid #FF9600 !important;
}
.signin
{
    background: #FF9600 !important;
    color: #fff !important;
}
.registration-div input
{
    border: none !important;
    color: #70BED5;
    text-align: center;
    :-webkit-input-placeholder { color: #e2e2e2 !important;}
}
.registration-div input::-webkit-input-placeholder {  color: #70BED5 !important;}
.registration-div label{
    border-left:0 !important;
    border-right:0 !important;
}
.registration-div label:first-child{
    border-top:0 !important;
}
.reg-img-div {
    text-align: center;
}
.reg-img-div .reg-img{
    width: 56%;
}
.reg-text
{
    text-align: right;
}
.reg-text a
{
    color: #000;
    text-decoration: none;
}
.login-div
{
    padding-bottom: 0;
    margin-bottom: 0;
}
.login-fb
{
    background: #2E79BD !important;
    width: 100%;
    color: #fff !important;
    font-weight: bold !important;
    padding: 0;
    font-size: 12px;
    border-radius:5px;
}
.login-fb i
{
    float: right;
    width: 25%;
    background: #1C5E9B !important;

}
.login-twitter
{
    background: #2BA8E0 !important;
    width: 100%;
    color: #fff !important;
    font-weight: bold !important;
    padding: 0;
    font-size: 12px;
    border-radius:5px;
}
.login-twitter i
{
    float: right;
    width: 25%;
    background: #0072A6 !important;
}
.bar.bar-stable
{
    background: #009FC6 !important;
}
.bar-stable .button.button-clear
{
    color: #FFF !important;
}
.notification-top{
    font-size: 25px;
    margin: 10px !important;
    position: relative;
    color: #fff;
}
.notification-top p{
    font-size: 9px;
    position: absolute;
    border-radius: 50%;
    background: #D10101;
    top: -8px;
    right: -15px;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.cart-notifi p{
    background:#EFAF41;
}
.top-logo
{
    width: 50%;
    margin-top: 8px;
}
.bar .title.title-left
{
    text-align: center;
}
.myaccount-top
{
    top: 0px !important;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    position: relative;
}
.user-dtls-wrap{
    padding: 0 !important;
}
.user-dtls-wrap .col{
    padding-right: 0 !important;
}
.myaccount-top .tab-item.active 
{
    background: #009FC6; 
    color: #ffffff;
    margin-top:0px !important;
    border-width:0px 0px 0px 0px !important;
    border-color:#009FC6 !important;
}
.myaccount-img{
    width: 35%;
    display: inline-block;
    float: left;
}
.myaccount-img img
{
    width: 100%;
    border: 2px solid #44B3CF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}
.myaccount-tag{
    float: left;
    width: 65%;
}
.myaccount-taglabel
{
    background: #ffffff;
    margin-top: 10px;
    font-size: 12px;
    padding: 5px 0 5px 5px;
}
.myaccount-taglabel span
{
    color: #44B3CF !important;;
    display: block;
    line-height: 1em;
}
.screen-content
{
    background: #E3E3E3;
}
.button-line
{
    height: 40px !important;
    color: #F3A952 !important;
    border-color: #F3A952 !important;
    border:2px solid #F3A952;
    min-height: auto !important;
    font-weight: bold;
}
.button-fill
{
    height: 40px !important;
    background: #F3A952 !important;
    color: #fff !important;
    border-color: #F3A952 !important;
    border:2px solid #F3A952;
    min-height: auto !important;
    font-weight: bold;
}
.myaccount-button
{
    margin-bottom: 60px;
}

.footer-div
{
    background: #009FC6 !important;
    color: #fff;
    border-color: #009FC6 !important;
}
.footer-div a
{
    border-right: 1px solid;
    border-color: #969696 !important;
}
.footer-div a:last-child
{
    border-right: 0px solid;
}
.email-modal-top
{
    background: #009FC6;
}
.email-modal-top .close-btn
{
    color: #fff !important;
    font-weight: bold;
}
.email-modal-top .title
{
    color: #fff !important;
}
.email-modal-btn
{
    margin-top: 10px;
}
.center
{
    text-align: center !important;
}
.error
{
    color: red !important;
}
.myaccount-setting
{
    background: transparent !important;
}
.myaccount-setting label
{
    background: transparent !important;
    border-bottom: 2px solid #000;
}
.myaccount-setting label input
{
    text-align: center;
    color: #009FC6;
    font-size: 19px;
}
.myaccount-setting label input:disabled
{
    background-color:transparent;
}
.setting-btn
{
    border-radius: 7px;
}
.myaccount-setting label .cal
{
    font-size: 27px;
    color: #009FC6;
}
.uppro-top
{
    height: 60px;
    color: #D40000;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0px 0px 10px;
}
.uppro-top i
{
    margin-right:8px;
}
.uppro-top-des
{
    background: #EFEFEF;
    padding: 15px 0px 24px 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid #019FC6;
}
.item-div
{
    background: transparent;
    border: 0px;
}
.item-div i
{
    background: #38454E;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #FFF;
    margin-right: 9px;
}
.item-div i
{
    background: #38454E;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #FFF;
    margin-right: 9px;
}
.item-div span
{
    color: #38454E;
    font-size: 20px;
    font-weight: bold;
}
.input-div
{
    border: 1px solid #000;
    width: 80%;
}
.serch-bar
{
    background: #4A4A4A;
}
.serch-bar .btn-cls
{
   background: transparent;
   border: 0px;
   color: #fff;
   transform: scale(-1, 1);
}
.serch-bar .btn-cls i
{
   color: #fff;
   font-size: 20px;
}
.serch-bar .btn-cls i:before
{
    font-size: 34px;
}


.serch-bar label
{
    border-radius: 0px;
    height: 37px;
}
.cart-top
{
    padding: 15px 0px 0px 10px;
    background: #EBEBEB;
}
.cart-title
{
    color: #D40000;
    font-weight: bold;
    font-size: 20px;
}
.cart-top i
{
    margin-right:8px;
}
.cart-count
{
    background: #FFF;
    padding: 20px;
    margin: 17px 5px 5px 0px;
    text-align: center;
}
.cart-payment-title
{
    margin-top: 5px;
}
.cart-payment-method
{
    text-align: center;
    font-size: 48px;
    margin: 16px 0px 0px 0px;
    border-bottom: 5px solid #009FC6;
}
.pay-input{
    background: #E3E3E3;
    width: 87%;
}
.pay-input::-webkit-input-placeholder {  
    padding-left: 10px;
    color: #848388;
}
.cart-item
{
    background: #EFEFEF;
    border-bottom: 4px solid #FFF;
}
.cart-item img
{
    width: 30% !important;
    width: 30% !important;
    border: 2px solid #F1AE43;
    margin: 9px 0 5px 0;
}
.cart-item .cart-item-tag
{
    text-align: right;
}
.cart-item .cart-item-tag span
{
    font-weight: bold;
    margin-right: 20px;
}
.cart-item .cart-item-tag span
{
    font-weight: bold;
    margin-right: 20px;
}
.cart-item .cart-item-tag i
{
    color: #D20003;
}

.cart-top 
{
    height: 45px;
    color: #D40000;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0px 0px 10px;
    background: #FFF;
}
.cart-list
{
  margin-bottom: 0px; 
}
.cart-div
{
  background: #FFF;   
}
